<h1>My Profile (protected page)</h1>

<p>This is your personal profile page - only you can access it!</p>

<p>
NOTE: This is an authenticated route; it's only rendered if there's a
currently logged in user.
</p>

